#section31{
    background: url(img/bg.jpg) center fixed no-repeat;
}

#section5 {
    background: url(img/bg2.jpg) center fixed;
}

#section6 {
    background-color: grey;
}


#footer {
    background-color: darkgrey;
}

#section1 {
    background: url(images\ \(2\).jpeg) center fixed;
}
.videoPlay {
    color: blueviolet;
}

#section4{
    background-color: darkseagreen;
}

#section1{
    background: url(images.jpeg) center fixed;
}

#section1 {
    background: url(images\ \(3\).jpeg)center fixed no-repeat;
}

#section1 {
    background: url(images\ \(4\).jpeg) fixed no-repeat;
}

#section3{
    background-color: dimgray;
}